In [1]:
import pandas as pd
import numpy as np

**8. This exercise relates to the ```College``` data set, which can be found in
the file ```College.csv``` on the book website. It contains a number of
variables for 777 different universities and colleges in the US.**

Use the pd.read_csv() function to read the data into Python. Call
the loaded data college. Make sure that you have the directory
set to the correct location for the data.

In [6]:
data = pd.read_csv("../data/College.csv")
data

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

Look at the data used in the notebook by creating and running
a new cell with just the code ```college``` in it. You should notice that the first column is just the name of each university in a column named something like ```Unnamed: 0```. We donâ€™t really want ```pandas``` to treat this as data. However, it may be handy to have these names for later. Try the following commands and similarly look at the resulting data frame.

Use the ```describe()``` method of to produce a numerical summary
of the variables in the data set.

Use the ```pd.plotting.scatter_matrix()``` function to produce a
scatterplot matrix of the first columns ```[Top10perc, Apps, Enroll]```
Recall that you can reference a list C of columns of a data frame
```A``` using ```A[C]```.

Use the ```boxplot()``` method of college to produce side-by-side
boxplots of ```Outstate``` versus ```Private```.

Create a new qualitative variable, called ```Elite```, by _binning_ the
```op10perc``` variable into two groups based on whether or not the
proportion of students coming from the top 10% of their high
school classes exceeds 50%

Use the ```plot.hist()``` method of ```college``` to produce some his-
tograms with differing numbers of bins for a few of the quanti-
tative variables. The command ```plt.subplots(2, 2)``` may be useful: it will divide the plot window into four regions so that four
plots can be made simultaneously. By changing the arguments
you can divide the screen up in other combinations

Continue exploring the data, and provide a brief summary of
what you discover.

**9. This exercise involves the ```Auto``` data set studied in the lab. Make sure
that the missing values have been removed from the data.**

Which of the predictors are quantitative, and which are quali-
tative?

What is the range of each quantitative predictor? You can an-
swer this using the ```min()``` and ```max()``` methods in numpy

What is the mean and standard deviation of each quantitative
predictor?

Now remove the 10th through 85th observations. What is the
range, mean, and standard deviation of each predictor in the
subset of the data that remains?

Using the full data set, investigate the predictors graphically,
using scatterplots or other tools of your choice. Create some plots
highlighting the relationships among the predictors. Comment
on your findings.

Suppose that we wish to predict gas mileage (```mpg```) on the basis
of the other variables. Do your plots suggest that any of the
other variables might be useful in predicting ```mpg```? Justify your
answer.

**10. This exercise involves the ```Boston``` housing data set.**

To begin, load in the ```Boston``` data set, which is part of the ```ISLP```
library

How many rows are in this data set? How many columns? What
do the rows and columns represent?

Make some pairwise scatterplots of the predictors (columns) in
this data set. Describe your findings.

Are any of the predictors associated with per capita crime rate?
If so, explain the relationship.

 Do any of the suburbs of Boston appear to have particularly
high crime rates? Tax rates? Pupil-teacher ratios? Comment on
the range of each predictor.

How many of the suburbs in this data set bound the Charles
river?

What is the median pupil-teacher ratio among the towns in this
data set?

Which suburb of Boston has lowest median value of owner-
occupied homes? What are the values of the other predictors
for that suburb, and how do those values compare to the overall
ranges for those predictors? Comment on your findings.

In this data set, how many of the suburbs average more than
seven rooms per dwelling? More than eight rooms per dwelling?
Comment on the suburbs that average more than eight rooms
per dwelling.